.vscode
.ipynb_checkpoints
__pycache__
app/__pycache__
app/data/__pycache__
app/domain/__pycache__
app/domain/analysis/.ipynb_checkpoints
app/data/external/.ipynb_checkpoints
app/data/raw/all_properties_data_wip.csv